---
import aboutBg from "@images/about-section-bg-lg.jpg";
import aboutBgMobile from "@images/about-section-bg-mobile.jpg";
import aboutBgLt from "@images/about-bg-card-lt.png";
import aboutBgLb from "@images/about-bg-card-lb.png";
import aboutBgRt from "@images/about-bg-card-rt.png";
import aboutBgRb from "@images/about-bg-card-rb.png";
import { Image } from "astro:assets";
import ParallaxContainer from "../ui/Parallax/ParallaxContainer.astro";
import ParallaxItem from "../ui/Parallax/ParallaxItem.astro";
const lgBg = `url('${aboutBg?.src}')`;
const mobileBg = `url('${aboutBgMobile?.src}')`;
---

<style define:vars={{ lgBg, mobileBg }}>
  .title:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(
      0.25turn,
      rgba(209, 174, 109, 1) 0%,
      rgba(209, 174, 109, 0.2) 100%
    );
    margin-top: 12px;
  }
  .title:before {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    background-color: #bf9a51;
    transform: rotate(45deg) translate(0, -25%);
    position: absolute;
    left: -2px;
    bottom: -4px;
    z-index: 1;
  }
  section#about-section {
    background-image: var(--mobileBg);
  }
  @media (min-width: 1024px) {
    section#about-section {
      background-image: var(--lgBg);
    }
  }
</style>
<section
  id="about-section"
  class="overflow-hidden bg-center bg-no-repeat bg-cover"
>
  <ParallaxContainer class="relative flex justify-center items-center py-20">
    <div class="absolute top-[40%] -left-[100px] -rotate-[8deg] w-[200px] laptop:w-[250px] laptop:top-[30%] desktop-md:w-[350px] desktop-md:top-[15%] desktop-xl:w-[415px] desktop-xl:top-[10%]">
      <ParallaxItem dist={{ x: 10, y: 10 }}>
        <Image src={aboutBgLt} alt="reign" />
      </ParallaxItem>
    </div>
    <div class="absolute top-[63%] left-[30px] rotate-[6deg] w-[130px] laptop:w-[170px] laptop:top-[58%] desktop-md:w-[250px] desktop-md:top-[48%] desktop-xl:w-[300px] desktop-xl:top-[45%]">
      <ParallaxItem dist={{ x: 10, y: -10 }}>
        <Image src={aboutBgLb} alt="reign" />
      </ParallaxItem>
    </div>
    <div class="absolute top-[15%] -right-[100px] rotate-[6deg] w-[220px] laptop:w-[270px] laptop:top-[10%] desktop-md:w-[320px] desktop-md:top-[15%] desktop-xl:w-[415px] desktop-xl:top-[10%]">
      <ParallaxItem dist={{ x: -10, y: 10 }}>
        <Image src={aboutBgRt} alt="reign" />
      </ParallaxItem>
    </div>
    <div class="absolute top-[38%] right-[30px] -rotate-[6deg] w-[140px] laptop:w-[180px] laptop:top-[43%] desktop-md:w-[230px] desktop-md:top-[51%] desktop-xl:w-[350px] desktop-xl:top-[48%]">
      <ParallaxItem dist={{ x: -10, y: -10 }}>
        <Image src={aboutBgRb} alt="reign" />
      </ParallaxItem>
    </div>
    <div class="flex flex-col gap-12 justify-center items-center w-[45%] max-w-[650px] min-w-[300px]">
      <div class="max-w-[430px] min-w-[300px]">
        <h2
          class="title relative text-gold text-xl desktop-sm:text-3xl desktop-lg:text-4xl uppercase text-center bg-[linear-gradient(0.5turn,rgba(255,191,116,1)_0%,rgba(183,106,17,1)_99%)] mb-5"
        >
          Genre
        </h2>
        <p
          class="text-jost text-center text-golden-light-1 text-lg desktop-sm:text-2xl desktop-lg:3-xl"
        >
          A strategy card game in the </br> <span class="hint-container text-[rgb(212, 140, 56)] cursor-pointer inline-flex">FFA<span class="hint w-[150px]">Free For All</span></span> format
        </p>
      </div>
      <div class="max-w-[590px] min-w-[300px]">
        <h2
          class="title relative text-gold text-xl desktop-sm:text-3xl desktop-lg:text-4xl uppercase text-center bg-[linear-gradient(0.5turn,rgba(255,191,116,1)_0%,rgba(183,106,17,1)_99%)] mb-5"
        >
          For Whom
        </h2>
        <p
          class="text-jost text-center text-golden-light-1 text-lg desktop-sm:text-2xl desktop-lg:3-xl"
        >
          Our game is designed specially for those who appreciate the ability to
          think strategically, who look for intellectual challenges and want to
          play something special
        </p>
      </div>
      <div class="max-w-[540px] min-w-[300px]">
        <h2
          class="title relative text-gold text-xl desktop-sm:text-3xl desktop-lg:text-4xl uppercase text-center bg-[linear-gradient(0.5turn,rgba(255,191,116,1)_0%,rgba(183,106,17,1)_99%)] mb-5"
        >
          Gameplay
        </h2>
        <p
          class="text-jost text-center text-golden-light-1 text-lg desktop-sm:text-2xl desktop-lg:3-xl"
        >
          Six players confront each other for leadership through efficient
          resource allocation and tactical use of the abilities of Heroes and
          Disciples
        </p>
      </div>
    </div>
  </ParallaxContainer>
</section>
