---
import type { heroID, heroOrder } from "ts/types";
import Image from "@assets/Image.astro";
import Card from "@ui/Card.astro";

type heroAttributes = {
  order: { value: heroOrder; url: string };
  border: string;
};
type heroes = {
  [key in heroID]: heroAttributes;
};

interface Props {
  id: heroID;
  mode?: "vertical" | "horizontal";
  active?: boolean;
  order?: boolean;
  orderFlag?: "real" | "empty" | null;
  showTooltip?: boolean;
}

const {
  id,
  mode = "vertical",
  active = mode === "horizontal" ? true : false,
  orderFlag,
  showTooltip = false,
} = Astro.props as Props;
const isHorizontalMode = mode === "horizontal";

const heroesImg: { [key in heroID]: string } = {
  "1101":
    "https://static.tildacdn.com/tild3839-6337-4261-b333-316637383739/hero_1101.png",
  "1201":
    "https://static.tildacdn.com/tild6661-3332-4262-b862-363239313536/hero_1201.png",
  "1301":
    "https://static.tildacdn.com/tild3535-6264-4761-b735-653666323765/hero_1301.png",
  "1401":
    "https://static.tildacdn.com/tild6434-3463-4131-b637-653362653061/hero_1401.png",
  "1501":
    "https://static.tildacdn.com/tild3461-3965-4462-a431-656364636239/hero_1501.png",
  "1601":
    "https://static.tildacdn.com/tild6231-6536-4461-a665-643733373261/hero_1601.png",
  "1701":
    "https://static.tildacdn.com/tild6331-6437-4638-b935-303230626266/hero_1701.png",
  "1801":
    "https://static.tildacdn.com/tild6563-3137-4833-b933-373138386335/hero_1801.png",
};

const heroesHorizontalImg: { [key in heroID]: string } = {
  "1101":
    "https://static.tildacdn.com/tild3961-3633-4536-b764-383035356666/hero_1101_horizontal.png",
  "1201":
    "https://static.tildacdn.com/tild3036-3966-4835-a466-636664343636/hero_1201_horizontal.png",
  "1301":
    "https://static.tildacdn.com/tild6637-3939-4635-b538-306565656163/hero_1301_horizontal.png",
  "1401":
    "https://static.tildacdn.com/tild3334-3038-4461-a236-643634633031/hero_1401_horizontal.png",
  "1501":
    "https://static.tildacdn.com/tild3565-3335-4735-b966-313231623038/hero_1501_horizontal.png",
  "1601":
    "https://static.tildacdn.com/tild3363-3035-4538-b430-353762646632/hero_1601_horizontal.png",
  "1701":
    "https://static.tildacdn.com/tild6335-6161-4639-b962-373066323731/hero_1701_horizontal.png",
  "1801":
    "https://static.tildacdn.com/tild6530-3663-4539-a632-393635326661/hero_1801_horizontal.png",
};

const heroesAttributesImg: { [key: string]: string } = {
  // hero's cards borders bg
  "border-blue": isHorizontalMode
    ? "https://static.tildacdn.com/tild6437-3565-4234-b230-353866386264/border-hero-topframe.png"
    : "https://static.tildacdn.com/tild6564-3935-4334-a566-353331633833/border-hero-general-.png",
  "border-gold": isHorizontalMode
    ? "https://static.tildacdn.com/tild3361-3935-4466-b031-613063663634/border-hero-topframe.png"
    : "https://static.tildacdn.com/tild3039-6538-4636-b839-353361366262/border-hero-general-.png",
  "border-silver": isHorizontalMode
    ? "https://static.tildacdn.com/tild3531-3735-4335-b063-616535346235/border-hero-topframe.png"
    : "https://static.tildacdn.com/tild3065-3663-4935-a633-656230323165/border-hero-general-.png",
  "border-green": isHorizontalMode
    ? "https://static.tildacdn.com/tild3534-3939-4264-b063-616435336666/border-hero-topframe.png"
    : "",
  "border-red": isHorizontalMode
    ? "https://static.tildacdn.com/tild3863-3130-4562-b964-313464636535/border-hero-topframe.png"
    : "",
  // hero's card order bg
  "order-gold":
    "https://static.tildacdn.com/tild6137-3231-4339-a531-633437303064/hero-number-frame-go.png",
  "order-red":
    "https://static.tildacdn.com/tild6562-3864-4365-b131-313037636266/hero-number-frame-re.png",
  "order-green":
    "https://static.tildacdn.com/tild6263-3635-4136-b461-313133323536/hero-number-frame-gr.png",
  "order-silver":
    "https://static.tildacdn.com/tild3663-6131-4562-a534-383764343031/hero-number-frame-si.png",
  "order-blue":
    "https://static.tildacdn.com/tild3934-6533-4531-b438-396134613130/hero-number-frame-bl.png",
  // hero card facedown
  "card-cover":
    "https://static.tildacdn.com/tild6461-3034-4466-b265-336465316430/card-cover.png",
};

const heroesAtrributes: heroes = {
  1101: {
    order: { value: "1", url: heroesAttributesImg?.["order-silver"]! },
    border: heroesAttributesImg?.["border-silver"]!,
  },
  1201: {
    order: { value: "2", url: heroesAttributesImg?.["order-silver"]! },
    border: heroesAttributesImg?.["border-silver"]!,
  },
  1301: {
    order: { value: "3", url: heroesAttributesImg?.["order-silver"]! },
    border: heroesAttributesImg?.["border-silver"]!,
  },
  1401: {
    order: { value: "4", url: heroesAttributesImg?.["order-gold"]! },
    border: heroesAttributesImg?.["border-blue"]!,
  },
  1501: {
    order: { value: "5", url: heroesAttributesImg?.["order-blue"]! },
    border: heroesAttributesImg?.["border-red"]!,
  },
  1601: {
    order: { value: "6", url: heroesAttributesImg?.["order-green"]! },
    border: heroesAttributesImg?.["border-gold"]!,
  },
  1701: {
    order: { value: "7", url: heroesAttributesImg?.["order-silver"]! },
    border: heroesAttributesImg?.["border-silver"]!,
  },
  1801: {
    order: { value: "8", url: heroesAttributesImg?.["order-red"]! },
    border: heroesAttributesImg?.["border-green"]!,
  },
};

const url = isHorizontalMode ? heroesHorizontalImg[id] : heroesImg[id];
const coverUrl = heroesAttributesImg?.["card-cover"] ?? "";
const border = heroesAtrributes?.[id as keyof heroes]?.border;
const cardSizeClasses = isHorizontalMode
  ? "w-[70px] h-[46px] desktop-md:w-[105px] desktop-md:h-[66px] desktop-lg:w-[140px] desktop-lg:h-[86px]"
  : "w-full h-full min-w-[65px] min-h-[95px] max-w-[130px] max-h-[190px]";
---

<style>
  .order,
  .order > span {
    clip-path: polygon(0 1%, 0 90%, 100% 0);
  }
</style>

{
  active ? (
    <Card
      className={`${cardSizeClasses} max-w-full max-h-full`}
      tooltip-id={showTooltip && !isHorizontalMode ? "hero-card" : null}
    >
      {id !== "1101" && orderFlag && isHorizontalMode ? (
        <div
          class={`order z-30 absolute top-[-1px] left-[-1px] bg-gold-gradient-286 rounded-tl-[6px] ${isHorizontalMode ? "w-[64%] h-full min-w-[45px] max-w-[90px]" : "h-[64%] w-full min-h-[49px] max-h-[98px]"}`}
          tooltip-id={showTooltip || orderFlag ? "hero-flag" : null}
        >
          <span class="block w-[calc(100%-1px)] h-[calc(100%-1px)] bg-[#560C15] p-[3px] desktop-md:p-[6px]">
            <Image
              width={isHorizontalMode ? "90" : "112"}
              height={isHorizontalMode ? "86" : "98"}
              name={"icon-ability"}
              className="w-[50%] h-[50%] drop-shadow-[0_0_2px_rgba(0,0,0.9)]"
            />
          </span>
        </div>
      ) : (
        ""
      )}
      <span class="block relative h-full max-h-full w-full">
        {
          isHorizontalMode ? (
            <Image
            src={border}
            width="140"
            height="86"
            className="max-h-full min-h-full min-w-full"
          />
          <span
            class="block absolute top-[3px] left-0 z-[-1] w-full h-[calc(100%-6px)] bg-cover bg-center bg-no-repeat"
            style={{ backgroundImage: `url("${url}")` }}
          />) : <Image
          src={url}
          width="112"
          height="154"
          className="max-h-full min-h-full min-w-full object-cover"
        />
        }
      
      </span>
    </Card>
  ) : (
    <Card
      className={cardSizeClasses}
      tooltip-id={showTooltip && !isHorizontalMode ? "hero-card-cover" : null}
    >
      <Image
        src={coverUrl}
        width={isHorizontalMode ? "140" : "112"}
        height={isHorizontalMode ? "86" : "154"}
      />
    </Card>
  )
}
