---
import Button from "@components/Button.astro";
import Image from "@assets/Image.astro";
import Follower from "@components/Follower/Follower.astro";
import Tooltip from "@components/Tooltip/Tooltip.astro";
---
<Tooltip
  id="btn-resourses"
  content={{
    title: "btn-resourses title",
    content: "btn-resourses content",
  }}
/>
<Tooltip
  id="btn-ability-intelligence"
  content={{
    title: "btn-ability-intelligence title",
    content: "btn-ability-intelligence content",
  }}
/>

<div
  class="h-[15%] min-h-[86px] max-h-[115px] flex justify-between gap-[15px] shrink-0 desktop-md:[30px] px-[10px] desktop-md:px-[20px]"
>
  <div class="shrink-0 h-full" tooltip-id="btn-resourses">
    <Button variant="gold-bordered" size="lg">
      <Image
        name="icon-resourses"
        className="w-[28px] h-[28px] desktop-md:w-[55px] desktop-md:h-[55px]"
      />
    </Button>
  </div>
  <div class="w-[47%] min-w-[383px] max-w-[756px] flex justify-center">
    <Follower id="2603" showTooltip={true} />
    <Follower id="2802" showTooltip={true} />
    <Follower id="2501" showTooltip={true} />
    <Follower id="2015" showTooltip={true} />
    <Follower id="2403" showTooltip={true} />
  </div>
  <div class="shrink-0 h-full" tooltip-id="btn-ability-intelligence">
    <Button variant="gold-bordered" size="lg">
      <Image
        name="icon-ability-intelligence"
        className="w-[28px] h-[28px] desktop-md:w-[55px] desktop-md:h-[55px]"
      />
    </Button>
  </div>
</div>
