---
import type { FollowerID, followerColor, followerValue } from "ts/types";
import Card from "./Card.astro";
import Image from "assets/Image.astro";
import type { Images } from "@assets/images";

type follower = {
  color: followerColor,
  value: followerValue

}

type followerImg = {
  [key in FollowerID]: string;
};

type followers = {
  [key in FollowerID]: follower;
}
interface Props {
  id: FollowerID;
  position?: 'string';
  size?: "regular" | "small";
  withFlag?: boolean;
}

const followerImg: Partial<followerImg> = {
  "2603":
    "https://static.tildacdn.com/tild3262-3637-4162-b365-303239323461/follower-2603.png",
  "2401": "https://static.tildacdn.com/tild6364-3539-4533-b862-623862326630/follower-2401.png",
  "2002": "https://static.tildacdn.com/tild6230-3464-4530-a262-303064623735/follower-2002.png",
  "2501": "https://static.tildacdn.com/tild3465-3831-4633-b834-376133613966/follower-2501.png",
  "2803": "https://static.tildacdn.com/tild6633-3630-4839-b736-646466333838/follower-2803.png",
  "2502": "https://static.tildacdn.com/tild6566-3036-4333-a637-336165366132/follower-2502.png",
  "2802": "https://static.tildacdn.com/tild3666-6532-4765-a262-353163333831/follower-2802.png",
  "2015": "https://static.tildacdn.com/tild3634-3333-4962-a334-663338613663/follower-20015.png",
  "2403": "https://static.tildacdn.com/tild3361-6664-4435-b631-633363666161/follower-2403.png"
};

const {
  id,
  size = "regular",
  withFlag = true,
} = Astro.props as Props;

const isSmallSize = size === "small";
const followerAttributesImg: Images = {
  // follower's cards borders bg
  "border-red": isSmallSize
    ? "https://static.tildacdn.com/tild3533-3836-4231-b330-653765646163/border-follower-card.png"
    : "https://static.tildacdn.com/tild3266-3837-4661-a464-633536636166/border-follower-card.png",
  "border-green": isSmallSize
    ? "https://static.tildacdn.com/tild6463-3761-4238-a434-626438613438/border-follower-card.png"
    : "https://static.tildacdn.com/tild3333-3833-4331-b366-316133313631/border-follower-card.png",
  "border-blue": isSmallSize
    ? "https://static.tildacdn.com/tild3662-3539-4436-a635-303235303030/border-follower-card.png"
    : "https://static.tildacdn.com/tild3766-6233-4333-b937-346131663031/border-follower-card.png",
  "border-gold": isSmallSize
    ? "https://static.tildacdn.com/tild6130-6331-4230-a365-393639343538/border-follower-card.png"
    : "https://static.tildacdn.com/tild6530-3661-4538-b136-363632313066/border-follower-card.png",
  "border-purple": isSmallSize
    ? "https://static.tildacdn.com/tild3036-6334-4763-b861-313231353264/border-follower-card.png"
    : "https://static.tildacdn.com/tild3231-6664-4436-b837-643464613136/border-follower-card.png",
  //follower's flags
  "flag-red":
    "https://static.tildacdn.com/tild6133-6239-4166-b462-373865353034/emblem-hero-red.png",
  "flag-green":
    "https://static.tildacdn.com/tild3662-6435-4463-b661-373237643939/emblem-hero-green.png",
  "flag-blue":
    "https://static.tildacdn.com/tild3930-6336-4238-b039-333862306163/emblem-hero-blue.png",
  "flag-gold":
    "https://static.tildacdn.com/tild3734-6161-4331-a639-316636353833/emblem-hero-gold.png",
  // follower's values
  "coin-1":
    "https://static.tildacdn.com/tild6237-3333-4032-a365-623439396362/Untitled-1-01_2.svg",
  "coin-2":
    "https://static.tildacdn.com/tild6433-6563-4933-b763-303332633930/COIN-1.svg",
  "coin-3":
    "https://static.tildacdn.com/tild3330-3831-4536-a235-313633656535/COIN-2.svg",
  "coin-4":
    "https://static.tildacdn.com/tild3136-6266-4333-b439-376239336163/COIN-4.svg",
  "coin-5":
    "https://static.tildacdn.com/tild6339-6434-4038-b130-333964336235/COIN-3.svg",
  "coin-6":
    "https://static.tildacdn.com/tild3738-3131-4562-b034-346464303332/COIN.svg",
};
const followerAttributes:Partial<followers> = {
  "2603": {color: "green", value: "2"},
  "2401": {color: "gold", value: "3"},
  "2002": {color: "purple", value: "2"},
  "2501": {color: "blue", value: "1"},
  "2803": {color: "red", value: "3"},
  "2502": {color: "blue", value: "2"},
  "2802": {color: "red", value: "2"},
  "2015": {color: "purple", value: "5"},
  "2403": {color: "gold", value: "5"}

}
const coin = followerAttributesImg[`coin-${followerAttributes[id]?.value}`];
const border = followerAttributesImg[`border-${followerAttributes[id]?.color}`];
const flag = followerAttributesImg[`flag-${followerAttributes[id]?.color}`];
---

<Card
  className=`${ isSmallSize ? 'max-h-[50%] min-w-[45px] h-[55px] max-w-[90px] desktop-lg:h-[105px]' : 'min-w-[75px] h-[105px] max-w-[150px] desktop-sm:h-[210px]'}`
>
  {
    flag && !isSmallSize && withFlag ? (
      <span
        class="top-[-1px] left-[-1px] w-[18px] h-[23px] laptop:w-[36px] laptop:h-[46px]"
        style={{ backgroundImage: `url("${flag}")` }}
        slot="icon-top-left"
      />
    ) : (
      ""
    )
  }
  <span
    class="block absolute top-0 bottom-0 left-0 right-0 w-full h-full z-10 bg-contain bg-center bg-no-repeat"
    style={{ backgroundImage: `url("${border}")` }}
    slot="img"></span>
  <Image
    url={followerImg[id as keyof followerImg]}
    className={isSmallSize ? "h-full [&>img]:object-cover [&>img]:object-[-4px_top]" : ""}
    slot="img"
  />
  <span
    class=`bottom-[-3px] left-[-6px] ${isSmallSize ? 'w-[16px] h-[16px] laptop:w-[32px] laptop:h-[32px]' : 'w-[20px] h-[20px] laptop:w-[40px] laptop:h-[40px]'}`
    style={{ backgroundImage: `url("${coin}")` }}
    slot="icon-bottom-left"></span>
</Card>
