---
import Card from "@ui/Card.astro";
import type { FollowerID, followerColor, followerValue, lang } from "ts/types";
import Image from "@assets/Image.astro";
import type { Images } from "@assets/images";
import { useTranslations } from "i18n/utils";
import { followerTr } from "./translations";

type follower = {
  color: followerColor;
  value: followerValue;
  name?: {
    [key in lang]: string;
  };
};

type followerImg = {
  [key in FollowerID]: string;
};

type followers = {
  [key in FollowerID]: follower;
};

interface Props {
  id: FollowerID;
  type?: "square" | "rounded";
  showTooltip?: boolean;
  showAttributes?: "onhover" | "onload";
  className?: string;
}

const {
  id,
  type = "square",
  showTooltip = false,
  showAttributes = "onload",
  className,
} = Astro.props as Props;

const isRounded = type === "rounded";
const hoverAttr = showAttributes === "onhover" && !isRounded;

const followerImg: Partial<followerImg> = {
  "2603":
    "https://static.tildacdn.com/tild6366-3531-4362-a539-326139663938/3_2_THOR.png",
  "2401":
    "https://static.tildacdn.com/tild6666-3465-4334-a331-393634336563/1_3_TINKER_BELL.png",
  "2002":
    "https://static.tildacdn.com/tild6361-3061-4230-b665-346265666261/5_2_GINGERBREAD.png",
  "2501":
    "https://static.tildacdn.com/tild3334-6562-4337-b265-646562366564/2_1_JACK.png",
  "2803":
    "https://static.tildacdn.com/tild6633-3962-4038-b935-613661623832/4_3_PEGASUS.png",
  "2502":
    "https://static.tildacdn.com/tild6264-6432-4630-b735-363166346466/2_2_MEDUSA.png",
  "2802":
    "https://static.tildacdn.com/tild3034-6231-4362-b662-663861663964/4_2_PUSS_IN_BOOTS.png",
  "2015":
    "https://static.tildacdn.com/tild3233-3333-4635-b062-323434616137/5_5_VAN_HELSING.png",
  "2403":
    "https://static.tildacdn.com/tild6134-6566-4238-b032-663465663939/1_5_SANTA_KLAUS.png",
  "2013":
    "https://static.tildacdn.com/tild3030-6135-4465-b466-633137653338/5_5__DAVY_JONES.png",
  "2010":
    "https://static.tildacdn.com/tild6637-3738-4861-a464-616665643730/5_5_PINOCCHIO.png",
  "2009":
    "https://static.tildacdn.com/tild6536-6565-4265-b263-393831626530/5_5_MIDAS.png",
  "2602":
    "https://static.tildacdn.com/tild3033-3531-4132-a161-353537336230/3_2_LOKI.png",
  "2504":
    "https://static.tildacdn.com/tild3339-3963-4063-b137-373335646333/2_5_FRANKENSTEIN.png",
  "2008":
    "https://static.tildacdn.com/tild3066-3362-4261-b738-393331646461/5_5_DORIAN_GRAY.png",
  "2005":
    "https://static.tildacdn.com/tild6632-3539-4335-b364-346264623538/5_5_LEPRECHAUN.png",
  "2604":
    "https://static.tildacdn.com/tild3435-3039-4534-b730-313034383436/3_3_MARS.png",
  "2004":
    "https://static.tildacdn.com/tild6331-3466-4833-a261-663137613436/5_4_CLEOPATRA.png",
  "2605":
    "https://static.tildacdn.com/tild3762-3537-4938-a361-386462316135/3_4_ANUBIS.png",
  "2016":
    "https://static.tildacdn.com/tild3764-6162-4264-b233-633033656538/5_6_BOSS.png",
  "2003":
    "https://static.tildacdn.com/tild3861-6566-4233-b961-396437303261/5_3_ALLADIN.png",
  "2402":
    "https://static.tildacdn.com/tild6432-3563-4364-b634-613336333838/1_4_CHESHIRE.png",
  "2012":
    "https://static.tildacdn.com/tild6636-3531-4663-b664-643138303230/5_3_SINBAD.png",
  "2804":
    "https://static.tildacdn.com/tild3166-6538-4165-b563-666239633865/4_4_T-REX.png",
  "2011":
    "https://static.tildacdn.com/tild6335-6137-4137-a364-386431396230/5_5_SUCCUBUS.png",
  "2606":
    "https://static.tildacdn.com/tild3934-6536-4162-a535-373664656331/3_5_AMATERASU.png",
  "2007":
    "https://static.tildacdn.com/tild3531-3062-4037-a334-353532626237/5_5_MONA_LISA.png",
  "2801":
    "https://static.tildacdn.com/tild6131-3330-4132-a131-663631653637/4_1_DOGE.png",
  "2006":
    "https://static.tildacdn.com/tild6461-3230-4337-a361-353064616139/5_5_MULAN.png",
  "2503":
    "https://static.tildacdn.com/tild3137-6632-4939-b262-663039333631/2_3_BABA_YAGA.png",
  "2001":
    "https://static.tildacdn.com/tild3963-3038-4538-a630-363561343365/5_3_CALYPSO.png",
  "2601":
    "https://static.tildacdn.com/tild3738-3134-4561-a263-373264376461/3_1_BARON_SAMEDI.png",
  "2014":
    "https://static.tildacdn.com/tild3463-3261-4433-a432-383131666564/5_5__D_ARTAGNAN.png",
};

const followerAttributesImg: Images = {
  // follower's cards borders bg
  "border-red": isRounded
    ? "https://static.tildacdn.com/tild3562-3331-4065-a235-636535323263/Follower-round-borde.png"
    : "https://static.tildacdn.com/tild3266-3837-4661-a464-633536636166/border-follower-card.png",
  "border-green": isRounded
    ? "https://static.tildacdn.com/tild3962-3539-4831-b339-333839343962/Follower-round-borde.png"
    : "https://static.tildacdn.com/tild3333-3833-4331-b366-316133313631/border-follower-card.png",
  "border-blue": isRounded
    ? "https://static.tildacdn.com/tild3666-3033-4964-a166-336539626337/Follower-round-borde.png"
    : "https://static.tildacdn.com/tild3766-6233-4333-b937-346131663031/border-follower-card.png",
  "border-gold": isRounded
    ? "https://static.tildacdn.com/tild6535-3663-4166-b530-323962386439/Follower-round-borde.png"
    : "https://static.tildacdn.com/tild6530-3661-4538-b136-363632313066/border-follower-card.png",
  "border-purple": isRounded
    ? "https://static.tildacdn.com/tild3065-6231-4435-b765-623831633330/Follower-round-borde.png"
    : "https://static.tildacdn.com/tild3231-6664-4436-b837-643464613136/border-follower-card.png",
  //follower's flags
  "flag-red":
    "https://static.tildacdn.com/tild6133-6239-4166-b462-373865353034/emblem-hero-red.png",
  "flag-green":
    "https://static.tildacdn.com/tild3662-6435-4463-b661-373237643939/emblem-hero-green.png",
  "flag-blue":
    "https://static.tildacdn.com/tild3930-6336-4238-b039-333862306163/emblem-hero-blue.png",
  "flag-gold":
    "https://static.tildacdn.com/tild3734-6161-4331-a639-316636353833/emblem-hero-gold.png",
  // follower's values
  "coin-1":
    "https://static.tildacdn.com/tild3065-3036-4336-b635-613531393261/coin-1.svg",
  "coin-2":
    "https://static.tildacdn.com/tild3233-6165-4431-a239-653632396237/coin-2.svg",
  "coin-3":
    "https://static.tildacdn.com/tild3635-6235-4366-b832-663333383362/coin-3.svg",
  "coin-4":
    "https://static.tildacdn.com/tild6432-3132-4232-b138-613461383538/coin-4.svg",
  "coin-5":
    "https://static.tildacdn.com/tild6636-6230-4339-b034-363766343134/coin-5.svg",
  "coin-6":
    "https://static.tildacdn.com/tild6163-3234-4339-a530-626365363231/coin-6.svg",
};

const followerAttributes: Partial<followers> = {
  "2603": { color: "gold", value: "2" },
  "2401": { color: "blue", value: "3" },
  "2002": { color: "purple", value: "2" },
  "2501": { color: "red", value: "1" },
  "2803": { color: "green", value: "3" },
  "2502": { color: "red", value: "2" },
  "2802": { color: "green", value: "2" },
  "2015": { color: "purple", value: "5" },
  "2403": { color: "blue", value: "5" },
  "2016": { color: "purple", value: "6" },
  "2014": { color: "purple", value: "5" },
  "2013": { color: "purple", value: "5" },
  "2011": { color: "purple", value: "5" },
  "2012": { color: "purple", value: "3" },
  "2804": { color: "green", value: "4" },
  "2606": { color: "gold", value: "5" },
  "2801": { color: "green", value: "1" },
  "2604": { color: "gold", value: "3" },
  "2605": { color: "gold", value: "4" },
  "2602": { color: "gold", value: "2" },
  "2504": { color: "red", value: "5" },
  "2601": { color: "gold", value: "1" },
  "2503": { color: "red", value: "3" },
  "2402": { color: "blue", value: "4" },
  "2009": { color: "purple", value: "5" },
  "2007": { color: "purple", value: "5" },
  "2004": { color: "purple", value: "4" },
  "2006": { color: "purple", value: "5" },
  "2003": { color: "purple", value: "3" },
  "2005": { color: "purple", value: "5" },
  "2008": { color: "purple", value: "5" },
  "2010": { color: "purple", value: "5" },
  "2001": { color: "purple", value: "3" },
};

const t = useTranslations(followerTr);
const coin =
  followerAttributesImg[`coin-${followerAttributes[id]?.value}`] ?? "";
const border =
  followerAttributesImg[`border-${followerAttributes[id]?.color}`] ?? "";
// const flag =
//   followerAttributesImg[`flag-${followerAttributes[id]?.color}`] ?? "";
const name = t(`${id}_name`);
---

<Card
  className=`group ${hoverAttr ? "hover:scale-125 transition-transform" : ""}
  ${ isRounded ? 'w-[45px] h-[53px] desktop-md:w-[68px] desktop-md:h-[80px] desktop-lg:w-[90px] desktop-lg:h-[105px]' : 'w-[75px] desktop-md:w-[110px] desktop-lg:w-[150px] h-[105px] desktop-md:h-[157px] desktop-lg:h-[210px]'} 
  ${className ?? ""}`
  tooltip-id={showTooltip &&
    `${isRounded ? "follower-card-sm" : "follower-card"}`}
  follower-card={type}
>
  {
    name && !isRounded ? (
      <figcaption
        class={`absolute top-[3px] left-0 z-10 w-full h-[25%] max-h-[70px] pt-[5%] flex justify-center bg-black-gradient-180 ${hoverAttr ? "opacity-0 group-hover:opacity-100" : ""}`}
        follower-card-name
      >
        <span class="text-gold-bebas text-[6px] desktop-md:text-[10px] desktop-lg:text-[14px] uppercase text-center">
          {name}
        </span>
      </figcaption>
    ) : (
      ""
    )
  }
  <div class={`w-full relative ${hoverAttr ? "group-hover:z-10 opacity-0 group-hover:opacity-100" : "z-10"}`}>
    <Image
      src={border}
      width={isRounded ? "90" : "150"}
      height={isRounded ? "105" : "210"}
      className={`rounded-[0px_0px_0px_15%] ${isRounded ? "rounded-0" : ""}`}
    />
  </div>

  <div
    class={`block absolute w-full top-0 left-0 !z-0 ${isRounded ? "p-[2px] h-full" : ""}`}
    follower-card-img
  >
    <Image
      src={`${followerImg[id as keyof followerImg]}`}
      width={isRounded ? "90" : "150"}
      height={isRounded ? "105" : "210"}
      className={`h-full w-full object-cover ${hoverAttr ? "group-hover:rounded-[0px_0px_0px_15%] rounded-0" : "z-10 rounded-[0px_0px_0px_15%]"} ${isRounded ? "!rounded-[45%] object-[center_30%]" : "object-center"}`}
    />
  </div>

  <span
    class=`h-auto 
    ${isRounded ? '-bottom-[1px] -left-[1px] w-[35%] min-w-[18px] max-w-[36px]' : '-bottom-[3px] -left-[3px] min-w-[20px] w-[27%] max-w-[40px]'} 
    ${hoverAttr ? "opacity-0 group-hover:opacity-100" : ""}`
    tooltip-id={"follower-value"}
    follower-card-coin
  >
    <Image
      src={coin}
      width={isRounded ? "32" : "40"}
      height={isRounded ? "32" : "40"}
      className="min-h-full min-w-full"
    />
  </span>
</Card>
